{% extends 'layout.html' %}
{% set active_page = "supplier" %}
{% block content %}
<div>
    <!-- title -->
    <h1>{{title}}</h1>
    <div class="d-print-none">
        <a href="{{url_for('supplier.update',supplier_id=supplier.id)}}" class="btn btn-outline-primary d-print-none"
            id="update_button">{{_('Update')}}</a>
    </div>
    <hr>
    <!-- information -->
    <dl class="row">
        <dt class="col-4">{{_('ID')}}:</dt>
        <dd class="col-8">{{ supplier.id }}</dd>
        <dt class="col-4">{{_('Company Name')}}:</dt>
        <dd class="col-8">{{ supplier.name }}</dd>
        <dt class="col-4">{{_('Abbreviation')}}:</dt>
        <dd class="col-8">{{ supplier.abbreviation or '-' }}</dd>
        <dt class="col-4">{{_('Principal')}}:</dt>
        <dd class="col-8">{{ supplier.principal or '-'}}</dd>
        <dt class="col-4">{{_('Contact')}}:</dt>
        <dd class="col-8">{{ supplier.contact or '-'}}</dd>
        <dt class="col-4">{{_('E-mail')}}:</dt>
        <dd class="col-8">{{ supplier.email or '-'}}</dd>
    </dl>
    <dl class="row">
        <dt class="col-4">{{_('NIF')}}:</dt>
        <dd class="col-8">{{ supplier.nif or '-'}}</dd>
        <dt class="col-4">{{_('IBAN')}}:</dt>
        <dd class="col-8">{{ supplier.iban or '-'}}</dd>
        <dt class="col-4">{{_('Address')}}:</dt>
        <dd class="col-8">{{ supplier.address or '-'}}</dd>
        <dt class="col-4">{{_('Postcode')}}:</dt>
        <dd class="col-8">{{ supplier.postcode or '-'}}</dd>
        <dt class="col-4">{{_('City')}}:</dt>
        <dd class="col-8">{{ supplier.city or '-'}}</dd>
        <dt class="col-4">{{_('Remark')}}:</dt>
        <dd class="col-8">{{ supplier.remark or '-'}}</dd>
    </dl>
    <div class="d-print-none">
        <hr>
        <h3 id="Files">{{_('Files')}}</h3>
        <div class="mb-2">
            <form action="{{url_for('supplier.upload',supplier_id=supplier.id)}}" method="post"
                enctype='multipart/form-data' class="d-inline" novalidate>
                {{ file_form.hidden_tag() }}
                {{ file_form.file(id="selectedFile", style="display:none", onchange="form.submit()") }}
                <input type="button" value="{{_('New File')}}" class="btn btn-outline-success"
                    onclick="document.getElementById('selectedFile').click();" />
            </form>
            {% if supplier.deleted_files %}
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#deletedFiles" aria-expanded="false" aria-controls="deletedFiles" id="fileButton">
                {{_('Show deleted files')}}
            </button>
            {% endif %}
        </div>
        {% with files=supplier.active_files %}
        {% include 'file/active_file_table.html' %}
        {% endwith %}

        <div class="collapse" id="deletedFiles">
            <h4>{{_('Deleted Files')}}</h4>
            {% with files=supplier.deleted_files %}
            {% include 'file/suspend_file_table.html' %}
            {% endwith %}
        </div>
    </div>
    <div>
        <hr>
        <h3 id="Expenses">{{_('Expenses')}}</h3>
        <div class="mb-2 d-print-none">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{ _("New") }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{url_for('expense.new_non_labor')}}">{{_("Non-Labor")}}</a></li>
                    <li>
                        <a class="dropdown-item" href="{{url_for('expense.new_order_payment')}}">
                            {{_("Order Payment")}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% if expenses.items %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-nowrap text-center">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">{{_('ID')}}</th>
                        <th scope="col">{{_('Category')}}</th>
                        <th scope="col">{{_('Amount')}}</th>
                        <th scope="col">{{_('Detail')}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses.items %}
                    <tr>
                        <th>{{ expense.id }}</th>
                        <td>{{ expense.category }}</td>
                        <td>{{ expense.total }}</td>
                        <td>
                            <a href="{{url_for('expense.detail',expense_id=expense.id)}}">
                                <span class="material-icons">
                                    more_vert
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ macros.pagination('supplier.detail',obj=expenses,page_str='expense_page',supplier_id=supplier.id,
        _anchor="Expenses") }}
        {% endif %}
    </div>
    <div>
        <hr>
        <h3 id="Orders">{{_('Orders')}}</h3>
        <div class="mb-2">
            <a href="{{url_for('order.new')}}" class="btn btn-outline-success">{{_('New')}}</a>
        </div>
        {% if supplier.orders %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-nowrap text-center">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">{{_('Order Number')}}</th>
                        <th scope="col">{{_('Delivery Date')}}</th>
                        <th scope="col">{{_('Value')}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in supplier.orders %}
                    <tr>
                        <th>
                            <a href="{{url_for('order.detail',order_id=order.id)}}">
                                <strong>
                                    {{ order.order_number }}
                                </strong>
                            </a>
                        </th>
                        <td>{{ moment(order.delivery_date).format('ll') }}</td>
                        <td>{{ order.value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#fileButton').click(function () {
            $(this).text(function (i, old) {
                return old == '{{_("Hide deleted files")}}' ? '{{_("Show deleted files")}}' : '{{_("Hide deleted files")}}';
            });
        });
    });
</script>
{% endblock js %}