{% extends 'layout.html' %}
{% set active_page = "supplier" %}
{% block content %}
<div>
    <h1>{{title}}</h1>
    <hr>
    <div class="mb-2 d-print-none">
        <a href="{{url_for('supplier.new')}}" class="btn btn-outline-success">{{_('New')}}</a>
    </div>
    {% if suppliers %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-nowrap text-center">
            <thead class="table-dark">
                <tr>
                    {% for c,name in keys %}
                    {% if c==sort %}
                    {% if desc %}
                    <th scope="col">
                        <a href="{{url_for('supplier.index', sort=c)}}" class="link-light head">
                            {{ name }}
                        </a>
                        <span class="material-icons">
                            arrow_drop_up
                        </span>
                    </th>
                    {% else %}
                    <th scope="col">
                        <a href="{{url_for('supplier.index', sort=c, desc=True)}}" class="link-light head">
                            {{ name }}
                        </a>
                        <span class="material-icons">
                            arrow_drop_down
                        </span>
                    </th>
                    {% endif %}
                    {% else %}
                    <th scope="col">
                        <a href="{{url_for('supplier.index', sort=c)}}" class="link-light head">
                            {{ name }}
                        </a>
                    </th>
                    {% endif %}
                    {% endfor %}
                    <th scope="col">{{_('Detail')}}</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in suppliers %}
                <tr>
                    {% for c,_ in keys %}
                    {% if c=="id" %}
                    <th>
                        <strong>{{ supplier.id }}</strong>
                    </th>
                    {% else %}
                    <td>{{ supplier[c] or '-' }}</td>
                    {% endif %}
                    {% endfor %}

                    <td><a href="{{ url_for('supplier.detail',supplier_id=supplier.id) }}"><span class="material-icons">
                                more_vert
                            </span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock content %}