<div class="table-responsive">
    <table class="table table-striped table-bordered text-nowrap text-center">
        <thead class="table-dark">
            <tr>
                <th scope="col">{{_('File Name')}}</th>
                <th scope="col">{{_('Deleted Date')}}</th>
                <th scope="col">{{_('Size')}}</th>
                <th scope="col">{{_('Restore')}}</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <th>
                    <a href="{{ url_for('file.download',file_id=file.id) }}" target="_blank">
                        <strong>
                            {{ file.full_name }}
                        </strong>
                    </a>
                </th>
                <td>{{ moment(file.delete_date).fromNow(refresh=True) }}</td>
                <td>{{ file.humanized_size }}</td>

                <td>
                    <form action="{{ url_for('file.restore',file_id=file.id) }}" method="post" class="d-inline">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="submit" hidden id="restore_file_{{file.id}}">
                        <span class="material-icons icon-btn"
                            onclick="document.getElementById('restore_file_{{file.id}}').click();">
                            restore_from_trash
                        </span>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="d-flex">
    <span class="material-icons mb-18 info">
        info
    </span>
    {{_('These files will be permanente removed 30 days after being deleted')}}
</div>