{% extends 'layout.html' %}
{% set active_page = "expense" %}
{% block content %}
<div>
    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap align-items-center">
        <h1>{{title}}</h1>
        <form action="" method="post" novalidate autocomplete="off">
            {{ form.hidden_tag() }}
            <div class="row gy-3 overflow-hidden">
                <div>
                    {{ form.date(class="form-control", onchange="form.submit()") }}
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 pb-2">
            <div class="card text-center">
                <h5 class="card-header text-white bg-dark">
                    {{_("Total")}}
                </h5>
                <div class="card-body text-center">
                    <h3>{{ method.cash + method.card + method.check + method.transfer}}€</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pb-2">
            <div class="card text-center">
                <h5 class="card-header text-white bg-dark">
                    {{_("Cash")}}
                </h5>
                <div class="card-body text-center">
                    <h3>{{ method.cash }}€</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pb-2">
            <div class="card text-center">
                <h5 class="card-header text-white bg-dark">
                    {{_("Non-Cash")}}
                </h5>
                <div class="card-body text-center">
                    <h3>{{ method.card + method.check + method.transfer}}€</h3>
                </div>
            </div>
        </div>
    </div>
    {% if expenses %}
    <div class="row">
        <div class="col-sm-6 pb-2">
            <div class="card text-center">
                <h5 class="card-header text-white bg-dark text-white bg-dark">
                    {{_("Category")}}
                </h5>
                <div class="card-body">
                    <canvas id="categoryChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-6 pb-2">
            <div class="card text-center">
                <h5 class="card-header text-white bg-dark">
                    {{_("Payment method")}}
                </h5>
                <div class="card-body">
                    <canvas id="methodChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <hr>
    <div class="mb-2 d-print-none">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ _("New") }}
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{url_for('expense.new_non_labor')}}">{{_("Non-Labor")}}</a></li>
                <li><a class="dropdown-item" href="{{url_for('expense.new_labor')}}">{{_("Labor")}}</a></li>
                <li><a class="dropdown-item" href="{{url_for('expense.new_order_payment')}}">{{_("Order Payment")}}</a></li>
                <li><a class="dropdown-item" href="{{url_for('expense.salary_index')}}">{{_("Salary")}}</a></li>
            </ul>
        </div>
    </div>
    {% if expenses %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-nowrap text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">{{_('ID')}}</th>
                    <th scope="col">{{_('Category')}}</th>
                    <th scope="col">{{_('Amount')}}</th>
                    <th scope="col">{{_('Payee')}}</th>
                    <th scope="col">{{_('Detail')}}</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <th>{{ expense.id }}</th>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.total }}</td>
                    {% if expense.employee %}
                        <td>{{ expense.employee.full_name }}</td>
                    {% elif expense.supplier %}
                        <td>{{ expense.supplier.name }}</td>
                    {% endif %}
                    <td>
                        <a href="{{url_for('expense.detail',expense_id=expense.id)}}">
                            <span class="material-icons">
                                more_vert
                            </span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock content %}

{% block js %}
<script>
    var categoryChart = new Chart(document.getElementById('categoryChart'), {
        type: 'doughnut',
        data: {
            labels: {{ category_label|safe }},
            datasets: [{
                label: 'category',
                data: {{ category_value|safe }},
                backgroundColor: [
                '#e06c75',
                '#61afef',
                '#e5c07b',
                '#98c379',
                '#c678dd',
                '#56b6c2'
                ],
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
        legend: {
            position: 'right'
        }
    }
    });
    var methodChart = new Chart(document.getElementById('methodChart'), {
        type: 'doughnut',
        data: {
            labels: ['{{_("Cash")}}', '{{_("Transfer")}}', '{{_("Card")}}', '{{_("Check")}}'],
            datasets: [{
                label: 'method',
                data: [{{method.cash}}, {{method.transfer}}, {{method.card}}, {{method.check}}],
                backgroundColor: [
                    '#e06c75',
                    '#61afef',
                    '#e5c07b',
                    '#98c379',
                    '#c678dd',
                    '#56b6c2'
                ],
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            legend: {
                position: 'right'
            }
        }
    });
</script>
{% endblock js %}