{% extends 'layout.html' %}
{% set active_page = "income" %}
{% block content %}
<div>
    <!-- title -->
    <h1>{{title}}</h1>
    <div class="d-print-none">
        {#
        <a href="{{url_for('income.update',income_id=income.id)}}" class="btn btn-outline-primary "
            id="update_button">{{_('Update')}}</a>
        #}
        {% if income.category != "revenue" %}
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
            data-bs-target="#deleteModal">{{_("Delete")}}</button>
        {% endif %}

    </div>

    <hr>
    <!-- informations -->
    <dl class="row">
        <dt class="col-4">{{_('ID')}}:</dt>
        <dd class="col-8">{{ income.id }}</dd>
        <dt class="col-4">{{_('Date')}}:</dt>
        <dd class="col-8"><a href="{{url_for('income.index',date_str=income.date.strftime('%Y-%m-%d'))}}"
                target="_blank">{{ income.date }}</a></dd>
        <dt class="col-4">{{_('Category')}}:</dt>
        <dd class="col-8">{{ income.category }}</dd>
        <dt class="col-4">{{_('Total')}}:</dt>
        <dd class="col-8">{{ income.total }}</dd>
        <dt class="col-4">{{_('Cash')}}:</dt>
        <dd class="col-8">{{ income.cash }}</dd>
        <dt class="col-4">{{_('Non-Cash')}}:</dt>
        <dd class="col-8">{{ income.non_cash }}</dd>
        <dt class="col-4">{{_('Remark')}}:</dt>
        <dd class="col-8">{{ income.remark or '-'}}</dd>
    </dl>
    <div class="d-print-none">
        <hr>
        <h3 id="Files">{{_('Files')}}</h3>
        <div class="mb-2">
            <form action="{{url_for('income.upload',income_id=income.id)}}" method="post" enctype='multipart/form-data'
                class="d-inline" novalidate>
                {{ file_form.hidden_tag() }}
                {{ file_form.file(id="selectedFile", style="display:none", onchange="form.submit()") }}
                <input type="button" value="{{_('New File')}}" class="btn btn-outline-success"
                    onclick="document.getElementById('selectedFile').click();" />
            </form>
            {% if income.deleted_files %}
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#deletedFiles" aria-expanded="false" aria-controls="deletedFiles" id="fileButton">
                {{_('Show deleted files')}}
            </button>
            {% endif %}
        </div>

        {% with files=income.active_files %}
        {% include 'file/active_file_table.html' %}
        {% endwith %}

        <div class="collapse" id="deletedFiles">
            <h4>{{_('Deleted Files')}}</h4>
            {% with files=income.deleted_files %}
            {% include 'file/suspend_file_table.html' %}
            {% endwith %}
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="deleteModalLabel">{{_("Warning")}}</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{_("All files associated with this income will also be deleted, please download the files if
                needed.")}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{_("Close")}}</button>
                <form action="{{url_for('income.delete',income_id=income.id)}}" method="post" class="d-inline">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="submit" value="{{_('Delete')}}" class="btn btn-outline-danger">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#fileButton').click(function () {
            $(this).text(function (i, old) {
                return old == '{{_("Hide deleted files")}}' ? '{{_("Show deleted files")}}' : '{{_("Hide deleted files")}}';
            });
        });
    });
</script>
{% endblock js %}