{% extends 'layout.html' %}
{% set active_page = "employee" %}
{% block content %}
<div>
    <h1>{{title}}</h1>
    <hr>
    <h3>{{_('Active Employees')}}</h3>
    <div class="mb-2 d-print-none">
        <a href="{{url_for('employee.new')}}" class="btn btn-outline-success">{{_('New')}}</a>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ _("Export") }}
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{url_for('employee.export',export_format='csv')}}">CSV</a></li>
                <li><a class="dropdown-item" href="{{url_for('employee.export',export_format='excel')}}">Excel</a></li>
            </ul>
        </div>
    </div>
    {% if active_employees %}
    {% with employees=active_employees %}
    {% include 'employee/index_table.html' %}
    {% endwith %}
    {% endif %}
    {% if suspended_employees %}
    <hr>
    <h3>{{_('Suspended Employees')}}</h3>
    {% with employees=suspended_employees %}
    {% include 'employee/index_table.html' %}
    {% endwith %}
    {% endif %}
</div>

{% endblock content %}